.container {
	flex-grow: 1;

	&--images {
		display: flex;
		flex-wrap: wrap;
		margin: 5rem auto;
		justify-content: center;
		align-items: center;

		// width: calc(min(80%, 600px));
		width: 75%;
		gap: 3rem;
	}
}
