.container {
	flex-grow: 1;
	margin-inline: auto;
	width: calc(min(100%, 1930px));

	&__content {
		display: flex;
		flex-wrap: wrap;
		margin: 5rem auto;
		justify-content: space-evenly;
		align-items: center;

		// width: calc(min(77%, 1500px));
		width: 77%;
		gap: 2.9rem;
	}
}
