:root {
	font-size: 62.5%;
}

body {
	font-family: 'Urbanist', sans-serif;
	background: #f4f4f4;
	color: white;
	font-family: 'Nunito', sans-serif;
	line-height: 1.9;
	max-width: 100vw;
}
// img {
// 	width: 100%;
// 	object-fit: fill;
// }

li {
	list-style: none;
}

// a:link,
// a:visited {
// 	text-decoration: none;
// 	color: white;
// 	letter-spacing: 0.2rem;
// }

#root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
